*{
    box-sizing: border-box;
}

html,body{
    max-height: 100%;
    margin: 0;
    background-color: darkolivegreen;
}

.wrapper{
    min-height: 100%;
}

.star{
    height: 450px;
}

.holiday{
    display: flex;
}

.tittle{
    font-family: 'Warownia', sans-serif;
    background-color: bisque;
    height: 1000px;
    font-size: 45px;
    color: rgb(135, 110, 81);
    width: 600px;
}
